.header {
  background-color: $color-green;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  &__container{
	display: flex;
  }


  &__left{
	text-align: right;
	width: 20%;
  }
  &__language{
	margin-bottom: 10px;
	&-link{
	  font-size: 13px;
	}
  }
  &__cabinet{
	margin-bottom: 16px;
	&-link{
	  text-decoration: none;
	  border-bottom: 1px dashed #fff;
	  font-size: 21px;
	  font-family:$lora;
	  @include desktop-mini{
		font-size: 20px;
	  }
	}
  }
  &__logo{
	text-align: center;
	width: 78%;
	  &-block{
		a{
		  display: block;
		  img{
			width: 56%;
		  }
		}
		span{
			display: block;
			img{
				width: 56%;
			}
		}

	}
	&-text{
	  color: $color-golddark;
	}
  }
  &__right{
  		text-align: left;
	width: 21%;
	}
  &__phone{
	margin-bottom: 12px;
	font-size: 24px;
	font-family:$lora;
	@include desktop-mini{
	  font-size: 20px;
	}
	a{
	  text-decoration: none;
	}
  }
  &__write{
	margin-bottom: 10px;
	a{
	  font-size: 13px;
	}
  }
  a{
	color: #fff;
  }
  &__btn{
	color: #fff;
	border: 2px solid #fff;
	border-radius: 2px;
	padding:3px 10px;
	background-color: $color-green;
	&:hover{
	background-color: $color-yellow;
	  color: $color-green;
	  border: 2px solid $color-yellow;

	}
  }

}

