mixin menu-top()
	.menu-top.bem&attributes(attributes)
		.menu-top__plate
			ul.menu-top__first-level
				li.menu-top__first-item.is-contain
					a.menu-top__first-link(href="#") Название раздела

					.menu-top__second-holder
						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Подраздел номер один
								.menu-top__third-holder
									ul.menu-top__third-level
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Подраздел с длинным текстом, который должен занять несколько строк
										li.menu-top__third-item.is-contain
											a.menu-top__third-link(href="#") Подраздел с длинным текстом
											.menu-top__fourth-holder
												ul.menu-top__fourth-level
													li.menu-top__fourth-item
														a.menu-top__fourth-link(href="#") Подраздел с длинным текстом, который должен занять несколько строк
													li.menu-top__fourth-item
														a.menu-top__fourth-link(href="#") Подраздел с длинным текстом


							li.menu-top__second-item
								a.menu-top__second-link(href="#") Второй подраздел
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Третий подраздел

				li.menu-top__first-item.is-contain
					a.menu-top__first-link(href="#") Второе название раздела

					.menu-top__second-holder
						ul.menu-top__second-level
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Подраздел номер один
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Второй подраздел

				li.menu-top__first-item
					a.menu-top__first-link(href="#") Третий раздел

				li.menu-top__first-item
					a.menu-top__first-link(href="#") Раздел четвертый

mixin menu-top_example()
	.menu-top.bem&attributes(attributes)
		.menu-top__plate
			ul.menu-top__first-level
				li.menu-top__first-item.is-contain
					a.menu-top__first-link(href="#") О&nbsp;компании
					.menu-top__second-holder
						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") История компании
								.menu-top__third-holder
									ul.menu-top__third-level
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Подраздел с длинным текстом, который должен занять несколько строк

										li.menu-top__third-item.is-contain
											a.menu-top__third-link(href="#") Моноподы для селфи

							li.menu-top__second-item
								a.menu-top__second-link(href="#") Реквизиты
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Команда
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Фотогалерея
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Видеогалерея
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Новости
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Вакансии
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Клиенты
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Сертификаты
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Партнеры
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Производство
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Награды
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Дилерам
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Оптовикам

				li.menu-top__first-item.is-contain
					a.menu-top__first-link(href="#") Каталог
					.menu-top__second-holder
						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Аксессуары для смартфонов
								.menu-top__third-holder
									ul.menu-top__third-level
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Моноподы для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Перчатки для сенсорных экранов
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Пульты для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Светящиеся наушники
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Оригинальные подарки
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Товары для детей
								.menu-top__third-holder
									ul.menu-top__third-level(data-max-items=5)
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Бинарные часы
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Волшебные червячки
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Детские машинки
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Игрушки Говорящий Хомяк
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Летающие игрушки
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Музыкальные инструменты
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Настольные игры
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Нелопающиеся мыльные пузыри
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Неокубы
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Резинки для плетения браслетов
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Танцевальные коврики
										li.menu-top__third-item
											a.menu-top__third-link(href="#") <nobr>Шары-предсказатели</nobr>
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Товары для дома
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Товары для женщин
								.menu-top__third-holder
									ul.menu-top__third-level
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Моноподы для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Перчатки для сенсорных экранов
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Пульты для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Светящиеся наушники
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Товары для красоты и&nbsp;здоровья
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Товары для кухни

				li.menu-top__first-item
					a.menu-top__first-link(href="#") Доставка
				li.menu-top__first-item
					a.menu-top__first-link(href="#") Гарантии
				li.menu-top__first-item
					a.menu-top__first-link(href="#") Акции
				li.menu-top__first-item
					a.menu-top__first-link(href="#") Контакты

				li.menu-top__first-item.is-additional
					a.menu-top__first-link(href="#") Еще
					.menu-top__additional-holder
						ul.menu-top__additional-level
							li.menu-top__additional-item
								a.menu-top__additional-link(href="#") Статьи
							li.menu-top__additional-item
								a.menu-top__additional-link(href="#") Раздел первого уровня
							li.menu-top__additional-item
								a.menu-top__additional-link(href="#") Ещё один
							li.menu-top__additional-item

mixin menu-top_i-state()
	.menu-top.bem&attributes(attributes)
		.menu-top__plate
			ul.menu-top__first-level
				li.menu-top__first-item.is-contain
					a.menu-top__first-link(href="#") О&nbsp;компании
					.menu-top__second-holder
						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") История компании
								.menu-top__third-holder
									ul.menu-top__third-level
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Подраздел с длинным текстом, который должен занять несколько строк

										li.menu-top__third-item.is-contain
											a.menu-top__third-link(href="#") Моноподы для селфи
											.menu-top__fourth-holder
												ul.menu-top__fourth-level
													li.menu-top__fourth-item
														a.menu-top__fourth-link(href="#") Пульты для селфи
													li.menu-top__fourth-item
														a.menu-top__fourth-link(href="#") Светящиеся наушники

							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Реквизиты
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Команда

						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Фотогалерея
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Видеогалерея
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Новости
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Вакансии
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Клиенты
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Сертификаты


						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Партнеры
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Производство
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Награды
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Дилерам
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Оптовикам

				li.menu-top__first-item.is-contain
					a.menu-top__first-link(href="#") Каталог
					.menu-top__second-holder
						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Аксессуары для смартфонов
								.menu-top__third-holder
									ul.menu-top__third-level
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Моноподы для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Перчатки для сенсорных экранов
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Пульты для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Светящиеся наушники

							li.menu-top__second-item
								a.menu-top__second-link(href="#") Оригинальные подарки

							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Товары для женщин
								.menu-top__third-holder
									ul.menu-top__third-level
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Моноподы для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Перчатки для сенсорных экранов
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Пульты для селфи
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Светящиеся наушники

						ul.menu-top__second-level
							li.menu-top__second-item.is-contain
								a.menu-top__second-link(href="#") Товары для детей
								.menu-top__third-holder
									ul.menu-top__third-level(data-max-items=5)
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Бинарные часы
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Волшебные червячки
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Детские машинки
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Игрушки Говорящий Хомяк
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Летающие игрушки
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Музыкальные инструменты
										li.menu-top__third-item
											a.menu-top__third-link(href="#") Настольные игры
										li.menu-top__third-item.is-hide
											a.menu-top__third-link(href="#") Нелопающиеся мыльные пузыри
										li.menu-top__third-item.is-hide
											a.menu-top__third-link(href="#") Неокубы
										li.menu-top__third-item.is-hide
											a.menu-top__third-link(href="#") Резинки для плетения браслетов
										li.menu-top__third-item.is-hide
											a.menu-top__third-link(href="#") Танцевальные коврики
										li.menu-top__third-item.is-hide
											a.menu-top__third-link(href="#") <nobr>Шары-предсказатели</nobr>
										li.menu-top__third-item
											span.menu-top__more-link.is-active(data-hide-qtty=5) Показать еще
											span.menu-top__less-link Скрыть

							li.menu-top__second-item
								a.menu-top__second-link(href="#") Товары для дома

						ul.menu-top__second-level
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Товары для красоты и&nbsp;здоровья
							li.menu-top__second-item
								a.menu-top__second-link(href="#") Товары для кухни

				li.menu-top__first-item
					a.menu-top__first-link(href="#") Доставка и&nbsp;оплата
				li.menu-top__first-item
					a.menu-top__first-link(href="#") Гарантии
				li.menu-top__first-item
					a.menu-top__first-link(href="#") Акции
				li.menu-top__first-item
					a.menu-top__first-link(href="#") Контакты

				li.menu-top__first-item.is-additional
					a.menu-top__first-link(href="#") Еще
					.menu-top__additional-holder
						ul.menu-top__additional-level
							li.menu-top__additional-item
								a.menu-top__additional-link(href="#") Статьи
							li.menu-top__additional-item
								a.menu-top__additional-link(href="#") Раздел первого уровня
							li.menu-top__additional-item
								a.menu-top__additional-link(href="#") Ещё один
							li.menu-top__additional-item
